<section class="card">
  <a href="/painting/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" />
      <p>Price: {{price}}</p>
    </div>
  </a>
</section>