<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/stylesheets.css" />
    <title>Electronic site</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper indigo darken-4">
        <a href="#!" class="brand-logo">E-site</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="sass.html"><i class="material-icons">shopping_cart</i></a>
          </li>
          <li>
            <a href=""><i class="material-icons">person</i></a>
          </li>
          <li>
            <form>
              <div class="input-field">
                <input id="search" type="search" required />
                <label class="label-icon" for="search"
                  ><i class="material-icons">search</i></label
                >
              </div>
            </form>
          </li>
        </ul>
      </div>
    </nav>

    <header>
      <ul class="sidenav" id="mobile-demo">
        <li>
          <a href="sass.html"><i class="material-icons">shopping_cart</i></a>
        </li>
        <li>
          <a href="/login"><i class="material-icons">person</i></a>
        </li>
        <li>
        <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
      </form></a>
        </li>
      </ul>
    </header>
    <main>
      <div class="container">{{{body}}}</div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js
"></script>
    <script src="./js/index.js"></script>
  </body>
</html>