body {
  background: #e9eaec;
}

.sidenav {
  width: 200px;
}

.sidenav li > a {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
.sidenav li > a:hover {
  background-color: #ffffff;
}

.sidenav li a .material-icons {
  font-size: 2.3em;
  background-color: #1a237e;
  min-width: 35%;
  border-radius: 2em;
  text-align: center;
  box-shadow: 2px 2px 4px 1px #4f5275c5;
}

.sidenav li a .material-icons:hover {
  background-color: #4f5275c5;
  box-shadow: 2px 2px 2px 2px #4f5275c5;
}

.sidenav li > a > i.material-icons {
  color: white;
}

.sidenav form {
  width: 80%;
  text-decoration: none;
  margin: 6em auto;
  border-radius: 20px;
  border: 0.5px medium black;
  background-color: rgb(240, 240, 240);
  color: black;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}

input#search {
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}
form .material-icons {
  font-size: 2em;
  display: flex;
  justify-self: start;
  margin-left: -0.7em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5em;
}

@media screen and (min-width: 990px) {
  a.brand-logo {
    margin-left: 1.5em;
  }

  .right form {
    width: 80%;
    text-decoration: none;
    border-radius: 20px;
    border: 0.5px medium black;
    background-color: rgb(240, 240, 240);
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: 1em;
  }

  .right form .material-icons {
    font-size: 2em;
    margin-bottom: 2em;
    position: relative;
    bottom: 0.8em;
    color: rgb(8, 8, 151);
  }
}
